body {
  background-color: darkseagreen;
}

h1 {
  color:white;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  width: 90%;
}

p, li {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  background-color: seagreen;
  border: 1px solid black;
  padding-left: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer {
  background: white;
  color: seagreen;
  border: 1px dashed black;
  padding-left: 10px;
  width: 200px;
}
